<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тухай</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h3>Тухай</h3>
    <div>
        Миний нэрийг {{ name }} гэдэг. Би {{ age }} настай.
    </div>
    <div>
        <a href="/">Буцах</a>
    </div>
</body>
</html>